.view--home
    .content--home
        h1.header Vimeo Q's
        p.description An Internship Coding Challenge
        a(href="/search")
            button(class="button-primary") Get Started
    .buffer