include ../partials/navbar.pug

.view--player
    .side--player
        #player
        if video
            h2 video.title
            h3 video.author
        else
            h2 random title
            h3 random author
    .side--cues
        form#form--cue
            input(type="text" name="cue" placeholder="Type your cue for this video at this time.")
            button(type="submit") Submit Cue

script(src="https://player.vimeo.com/api/player.js")
script(type="application/javascript" src="/public/js/player.js")

if defaultPlayer
    script(type="application/javascript" src="/public/js/defaultPlayer.js" defer)
else
    script(type="application/javascript" src="/public/js/searchedPlayer.js" defer)