include ../partials/navbar.pug

.view--player
    .content--player
        .side--player
            #player
        .side--cues
            form#form--cue
                textarea(class="input--cue" type="text" name="cue" placeholder="Cue text goes here")
                .button-container
                    button(class="button--cue-submit" type="submit") Submit Cue
            hr
            h3 Cues
            p Click on cues to remove them.
            #cues

script(src="https://player.vimeo.com/api/player.js")
script(type="application/javascript" src="/public/js/player/player.js")

if defaultPlayer
    script(type="application/javascript" src="/public/js/player/defaultPlayer.js" defer)
else
    script(type="application/javascript" src="/public/js/player/searchedPlayer.js" defer)