.view--search
    .hero
        form.form--search(action="/search" method="POST")
            h1.header Search for Videos
            input.input--search(name="query" placeholder="Search a video's title. ie \"Yee\"")
            br
            button.button-primary.button--search(type="submit") Search
    if videos
        .results
            each video in videos
                a(href=video.uri class="video-link")
                    .card
                        p= video.name
    else
        p No videos... yet.