doctype html
html
  head
    link(rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous")
    link(rel="stylesheet", href="/public/css/style.css")
  body
    case view
        when "home"
            include layouts/home
        when "search"
            include layouts/search
        when "player"
            include layouts/player
    script(src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment.min.js")