.view--search
    form.form--search
        .hero
            h1 Search for Videos
            input(name="search" placeholder="Search a video's title. ie \"Gangnam Style\"")
            button(type="submit") Search
