@import url('https://fonts.googleapis.com/css?family=Montserrat');

/*
 If there were more styles, I would separate them by view. and also add scss
 ie: all player-specific css in player.css
 */

* {
    font-family: 'Montserrat', sans-serif;
}

body {
    margin: 0;
}

/* Navbar */
.navbar {
    background-color: #4D9FFF;
}

.navbar--header {
    margin: 0;
    padding: 15px;
    color: white;
}

/* Player View */

.view--player {
    display: grid;
    grid-template-columns: 8fr 2fr;
}
#player {
    position: relative;
}
#cue--background {
    /* background: rgba(0,0,0,0); */
    background-color: red;
    position: absolute;
    top: 10px;
    left: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

